@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: 'jetbrains mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: relative;
}

header {
    background-color: transparent;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

nav {
    background-color: #1a1a1a;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.content {
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro, article {
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background: transparent;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}